SQLAlchemy>=1.0.0
frontera==0.7.1
kafka-python==1.3.1
msgpack-python==0.5.6
sqlitedict==1.5.0
fake-useragent
slybot==0.12.1
scrapinghub==2.0.3
exporters==0.6.10

# Spidermon
python-slugify==1.0.2
Jinja2==2.7.3
premailer==2.9.0
MarkupSafe==0.23
Unidecode==0.4.14
jsonschema==2.4.0
websocket-client==0.31.0
schematics==1.0.4

#exporters & dependencies
decorator==4.0.10
boltons==16.5.1
jmespath==0.5
bz2file


# collection_scanner deps
dateparser==0.5.0

# toolbox deps
# pybloom # no version for s3 at moment

ipython
flake8
pytest
mypy
jupyter
scipy==0.19.0
sklearn
neurolab
tensorflow==1.2.0
matplotlib==2.0.2
pillow==4.1.1
scrapely
numpy==1.13.0
pandas==0.22.0
xlrd
geopandas
mplleaflet
